body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  background-color: #d0d0d0;
  color: #333;
  padding: 4px;
}
h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}


article {
  width: 60%; /* take up 60% of the screen */
  margin: 0 auto; /* center the article horizontally */
 border: 2px solid #555;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;

  background-color: #f0f0f0;
}

/* media query for mobile devices */
@media only screen and (max-width: 600px) {
  article {
    width: 100%; /* take up 100% of the screen */
	border: 0px;
	padding: 0px;
  }
  body{
	  padding: 0px;
  }
  article > *{
	  padding-left: 8px;
	  padding-right: 8px;
  }
}

figure {
	background-color: gray;
	display: inline-block;
	text-align: center;
	max-width: 80%;
	margin-left: 10%;
}
figure img {
	width: 100%;
}

article > p > img, article > img, details img {
	max-width: 90%;
}
